
# Visual Studio Code temp
/*.vscode

# AS3 libs, binaries and cache
/as3/**/*.swf
/as3/**/*.swc
/as3/**/*.dat
/as3/**/*.cache

# compiled python bytecode
/python/*/*.pyc

# wot package
/build/*.wotmod
/build/*.zip

# sonar cloud
.scannerwork

# batch files
/*.cmd

# Builder config file
build.json